.stack {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.stack li {
  border: 1px solid;
  padding: 10px;
  font-size: 20px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
}

.stack li:hover {
  background-color: var(--gray8);
  border-color: var(--gray9);
  color: var(--blue6);
  box-shadow: var(--boxShadow);
  transition: all 0.2s ease-out;
}
