.intro {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 30px;
}

.animation.delay6.intro {
  text-align: left;
  justify-content: start;
  align-items: start;
}

.intro h3 {
  color: var(--blue5);
}

.intro h1.main {
  color: var(--gray4);
}
